[user]
	email = yashith98@gmail.com
	name = Yashith
[safe]
	directory = C:/Users/IceBerg/AppData/Local/nvim-data/lazy/lazy.nvim
	directory = C:/Users/IceBerg/AppData/Local/nvim
[gui]
	recentrepo = C:/Users/IceBerg/AppData/Local/nvim
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	helper = manager
	useHttpPath = true
